    body {
        background-color: rgb(253, 251, 251);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #cabecalho{
        background-color:black;
        position: fixed;
        top: 0px;
        width: 100%;
        left: 0px;
        height: 100%;
    }
    #minha_foto{
        width: 100px;
        position: fixed;
        top: 0px;
        right: 0px;
    }
    #titulo{
        color: blueviolet;
        position: fixed;
        top: 20px;
        position: fixed;
        left: 690px;
    }
    #licoes_aprendidas{
        color:blueviolet;
        margin: 0px;
        padding-left: 25px;
    }
    #licoes_a_aprender{
        padding-right: 25px;
        margin: 0px;
        color:blueviolet;
    }
    .titulos{
        color: gold;
    }
    #rodape{
        background-color: black;
        width: 100%;
        height: 250px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .links_externos{
        color:blueviolet;
        font-size: larger;
        position: fixed;
        top: 120;
    }
    .lado-direito{
        color: blueviolet;
        border: 8px solid blueviolet;
        float: right;
        padding: 5px;
    }
    .lado-esquerdo{
        color: blueviolet;
       float: left;
       border: 8px solid blueviolet;
       padding: 5px;
    }
    h2{
        color: blueviolet;
    }
    section{
        position: absolute;
        top: 150px;
        border: 8px solid blueviolet;
        padding: 5px;
    }
    #lista{
        position: absolute;
        right: 0px;
        top: 150px;
        border: 8px solid blueviolet;
        line-height: 18px;
    }
    #tabela_informativa{
        position: absolute;
        color: blueviolet;
        top: 150px;
        left: 690px;
        right: 50%;
        border: 1px solid blueviolet;
        width: fit-content;
    }
    th{
        border: 1px solid blueviolet;
    }
    td{
        border: 1px solid blueviolet;
    }